name: Python CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt
      - name: Run tests
        run: pytest
      - name: shell
        run: |
          wget https://sca-downloads.s3.amazonaws.com/cli/latest/ScaResolver-linux64.tar.gz
          echo "Listing files before extraction:"
          ls -la
          echo "Listing contents of the tar.gz without extracting:"
          tar -tzf ScaResolver-linux64.tar.gz
          echo "Extracting ScaResolver-linux64.tar.gz..."
          tar -xzf ScaResolver-linux64.tar.gz
          echo "Listing files after extraction:"
          pwd
          ls -la
          echo "running sca"
          chmod a+x ./ScaResolver
          ./ScaResolver --help
     
      - name: Add ScaResolver to PATH
        run: |
          chmod +x ./ScaResolver
          echo "Adding ScaResolver to PATH"
          echo "$PWD" >> $GITHUB_PATH
      - name: print path
        run: "echo $PATH\nwhich ScaResolver || echo \"ScaResolver not\_found\_in\_PATH\"\n"
      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main 
        with:
          project_name: python
          cx_tenant: cdac
          base_uri: https://ind.ast.checkmarx.net 
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params:  --sca-resolver path/ScaResolver --sca-resolver-params "--log-level Debug"