name: Python CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt || echo "requirements file missing or empty"

      - name: Run tests
        run: pytest || echo "Tests failed or not present"

      - name: shell
        run: |
          wget -q https://sca-downloads.s3.amazonaws.com/cli/latest/ScaResolver-linux64.tar.gz
          tar -xzf ScaResolver-linux64.tar.gz -C $GITHUB_WORKSPACE
          echo $GITHUB_WORKSPACE
          pwd
          ls -la
          chmod +x $GITHUB_WORKSPACE/ScaResolver
          ls -la
          ./ScaResolver offline -r './cx-results/.cxsca-results.json' -s $GITHUB_WORKSPACE
          rm -f ScaResolver-linux64.tar.gz

      - name: Debug workspace before scan
        run: |
          echo "Current directory:"
          pwd
          echo "Workspace content:"
          ls -la $GITHUB_WORKSPACE

      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main
        with:
          project_name: python
          cx_tenant: cdac
          base_uri: https://ind.ast.checkmarx.net
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
            